In [1]:
from google.cloud import bigquery
from google.oauth2 import service_account

In [3]:
credentials = service_account.Credentials.from_service_account_file('../misc/gc_creds.json')

In [4]:
project_id = 'hadooplearning-222811'

In [5]:
client = bigquery.Client(credentials= credentials,project=project_id)

In [6]:
sql = "SELECT * FROM `bigquery-public-data.iowa_liquor_sales.sales` LIMIT 10"

In [6]:
query_job = client.query(sql)

In [8]:
rows = query_job.result()  # Waits for query to finish
data = []
for row in rows:
    data.append({k:v for k,v in row.items()})

In [12]:
pd.DataFrame(data)

,invoice_and_item_number,date,store_number,store_name,address,city,zip_code,store_location,county_number,county,...,item_number,item_description,pack,bottle_volume_ml,state_bottle_cost,state_bottle_retail,bottles_sold,sale_dollars,volume_sold_liters,volume_sold_gallons
0,INV-05755200003,2017-06-27,5124,Price Chopper / Johnston,5440 NW 86th St,Johnston,50131,POINT (-93.738772 41.65919800000001),77,POLK,...,77956,"Smirnoff Red, White & Berry",12,750,8.25,12.38,36,445.68,27.00,7.13
1,S15914500015,2013-11-23,2651,Hy-Vee / Waverly,1311 4 STREET SW,WAVERLY,50677,POINT (-92.475403 42.712263),09,Bremer,...,27102,Templeton Rye,6,750,18.09,27.14,30,814.20,22.50,5.94
2,S33615600002,2016-07-27,2625,Hy-Vee Wine and Spirits #2,3301 W Kimberly Rd,Davenport,52804,None,82,Scott,...,82847,Dekuyper Peachtree,12,1000,7.87,11.81,48,566.88,48.00,12.68
3,INV-00065600035,2016-08-31,5003,Famous Liquors,2604 W Locust St,Davenport,52804,POINT (-90.615542 41.538186),82,SCOTT,...,36971,New Amsterdam Vodka,6,1750,13.32,19.98,4,119.88,7.00,1.84
4,INV-00030100038,2016-08-30,3628,Wal-Mart 1528 / Cedar Rapids,2645 Blairs Ferry Rd NE,Cedar Rapids,52402,POINT (-91.680734 42.034748),57,LINN,...,77734,Viniq,12,375,6.50,9.75,1,117.00,0.37,0.09
5,INV-00048800040,2016-08-31,2551,Hy-Vee Food Store / Chariton,2001 West Court,Chariton,50049,None,59,LUCAS,...,36904,Mccormick Vodka Pet,24,375,1.80,2.70,1,64.80,0.37,0.09
6,INV-00038200003,2016-08-30,2665,Hy-Vee / Waukee,1005 E Hickman Rd,Waukee,50263,POINT (-93.854477 41.615059),25,DALLAS,...,64870,Fireball Cinnamon,48,100,0.89,1.34,6,64.32,0.60,0.15
7,S33757200021,2016-08-04,4829,Central City 2,1501 Michigan Ave,Des Moines,50314,POINT (-93.613739 41.60572),77,Polk,...,27102,Templeton Rye,6,750,18.09,27.14,60,1628.40,45.00,11.89
8,INV-17319400006,2019-02-04,3910,Riverside Casino And Resort,3184 Highway 22,Riverside,52327,POINT (-91.531499 41.496387000000006),92,WASHINGTON,...,100444,Jameson w/2-50mls,6,850,15.99,23.99,6,143.94,5.10,1.34
9,S14082200127,2013-10-04,2515,Hy-Vee Food Store #1 / Mason City,2400 4TH ST SW,MASON CITY,50401,POINT (-93.235588 43.148451),17,Cerro Gordo,...,67536,Kahlua Especial,12,750,10.74,17.24,11,189.64,8.25,2.18

In [35]:
result

100

In [11]:
import pandas as pd
# pd.Series({k:v for k,v in a.items()})